.DS_Store
xcuserdata/
*.xcuserstate
DerivedData/
.build/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.derivedData/
app/Driveflow/Resources/oauth-client.json
!app/Driveflow/Resources/oauth-client.example.json
**/client_secret*.json
app/Driveflow/Resources/rclone
!app/Driveflow/Resources/rclone.version
*.log
.idea/
.swiftpm/
